.notes-page-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.add-note-section {
  width: 100%;
  min-height: 3rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note-input {
  min-height: 3rem;
  height: auto;
  width: 20%;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-block-start: 0.75rem;
  margin-inline-end: 0.25rem;
  border: solid transparent;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.add-note-input:active,
.add-note-input:focus {
  outline: none;
}

.add-note-input[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

.set-type-text-button,
.set-type-image-button {
  width: 1rem;
  height: 1rem;
  margin-inline-start: 0.25rem;
  margin-inline-end: 0.25rem;
  background-size: contain;
}

.set-type-text-button {
  background-image: url(../../img/text.png);
}

.set-type-image-button {
  background-image: url(../../img/image.png);
}

.notes-section-header {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.notes-section {
  width: 100%;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.note {
  min-width: calc((100vw - 7rem) / 5);
  max-width: calc((100vw - 7rem) / 5);
  height: auto;
  padding: 1rem;
  margin-block-end: 1rem;
  margin-inline-end: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  white-space: pre-wrap;
  transition: 0.3s;
}

.note:nth-child(5n+0) {
  margin-inline-end: 0;
}

.note:hover {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.note-content-section:active,
.note-content-section:focus,
.note-title-section:active,
.note-title-section:focus {
  outline: none;
}

.note-image {
  width: 100%;
}

.note-title {
  font-size: 1rem;
  font-weight: bold;
  margin-block-end: 1rem;
}

.note-controls-section {
  height: 1rem;
  margin-block-start: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.note-action-button {
  width: 1rem;
  height: 1rem;
  margin-inline-end: 0.5rem;
}

.toggle-pin-button {
  background-image: url(../../img/pin-black.png);
  background-size: contain;
}

.remove-note-button {
  background-image: url(../../img/delete.png);
  background-size: contain;
}

.toggle-palette-button {
  background-image: url(../../img/palette-black.png);
  background-size: contain;
}

.palette {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.palette button {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-inline-end: 0.5rem;
  margin-block-start: 1rem;
}

.palette button:hover {
  border-color: black;
}

.white {
  background-color: white;
}

.lightcoral {
  background-color: lightcoral;
}

.goldenrod {
  background-color: goldenrod;
}

.khaki {
  background-color: khaki;
}

.palegreen {
  background-color: palegreen;
}

.paleturquoise {
  background-color: paleturquoise;
}

.lightcyan {
  background-color: lightcyan;
}

.lightblue {
  background-color: lightblue;
}

.plum {
  background-color: plum;
}

.mistyrose {
  background-color: mistyrose;
}

.wheat {
  background-color: wheat;
}

.lavender {
  background-color: lavender;
}
