.email-main input, .email-main textarea{
    border: 0;
    background: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
}


.email-main{
    padding: 20px 0;
    padding-right: 20px;
}

.side-nav{
    padding-right: 40px;
}

.side-nav > *:not(h2){
    cursor: pointer;
}

.side-nav .compose{
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: max-content;
    box-shadow: 0 0 2px black;
    border-radius: 999px;
}

.side-nav .filter{
    background-color: rgb(47, 47, 177, 0.2);
    border-radius: 0px 81px 81px 0px;
    padding: 10px 0;
    text-align: center;
    transition: .5s;
}

.side-nav .filter:hover{
    background-color: rgb(47, 47, 177, 0.8);

}

.side-nav .filter:not(:last-child){
    margin-bottom: 10px;
}

.email-list{
    margin-inline-start: 20px;
}

.email-list .navbar-up{
    padding: 20px 10px;
}


.emails-preview{
    background-color: rgba(214, 213, 213, 0.192);
}

.email-preview{
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(214, 213, 213, 0.8);;
}

.email-preview > *:not(:last-child){
    margin-right: 20px;
}

.email-preview .option > *:not(:last-child){
    margin-right: 20px;    
}

img.icon{
    width: 15px;
    transition: .5s;
}

img.icon:hover{
    width: 17px;
}

.email-details{
    background-color: indianred;
} 

.details > *{
    padding-left: 20px;
    padding: 20px 0 20px 20px;
}
.email-details .return{
    padding: 7px 40px;
    background-color: grey;
    width: min-content;
    margin-bottom: 50px;
}

.email-details .return img{
    width: 30px;
    cursor: pointer;
}

.email-details .details .subject{
    background-color: hotpink;

}

.email-details .details .data-frame{
    background-color: gold;
}

.new-email{
    position: fixed;
    background-color: rgb(233, 229, 229);
    right: 20px;
    bottom: 20px;
    height: 50vh;
    width: 50vw;
    box-shadow: 2px 2px 7px 0.001px black;

}

.new-email .message-header{
    background-color: lightcyan;
    padding: 20px;
}

.new-email .message-header .exit{
    cursor: pointer;
}

.new-email .message-body{
    padding-left: 10px;
    padding-right: 10px;
}

.new-email .message-body .subject input{
    width: 50%;
}

.new-email .message-body > *:not(:last-child){
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid  rgb(184, 184, 184);
}

.new-email .message-body > *:last-child{
    padding-top: 15px;
}

.new-email .message-footer{
    background-color: lightcyan;
    padding: 20px;
}

.new-email .message-footer .send{
    float: right;
    cursor: pointer;
    padding: 10px 30px;
    background-color: indianred;
}

.new-email textarea{
    height: 100%;
    width: 100%;
    background-color: 0;
}

.status-container {
    width: 90%;
    background-color: #747d8c;
    margin: 0;
    border-radius: 4px;
}

.status-bar {
    background-color: #2ed573;
    color: white;
    letter-spacing: 1px;
    margin: 0;
    border-radius: 4px;
}