/* default css */

.email-main input, .email-main textarea{
    border: 0;
    background: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
}


/* main */

.email-main{
    padding: 20px 0;
    padding-right: 20px;
    /* background-image: url('../../img/background-pic.jpeg'); 
    object-fit: cover;
    background-repeat: no-repeat; */

}

/* side-nav */
.side-nav{
    padding-right: 40px;
}

.side-nav > *:not(:last-child){
    cursor: pointer;
}

.side-nav .compose{
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: max-content;
    box-shadow: 0 0 2px black;
    border-radius: 999px;
    transition: 0.5s;
}

.side-nav .compose:hover{
    box-shadow: 0 0 5px black;
}

.side-nav .filter{
    background-color: rgba(195, 195, 197, 0.952);
    border-radius: 0px 81px 81px 0px;
    padding: 10px 0;
    text-align: center;
    transition: .5s;
    font-weight: bold;
}

.side-nav .filter:hover{
    background-color: rgba(165, 165, 168, 0.952);
    box-shadow: inset 0 0 1px rgba(96, 96, 97, 0.952);

}

.side-nav .filter:not(:last-child){
    margin-bottom: 10px;
}

.side-nav .status-container {
    width: 90%;
    background-color: #747d8c;
    margin: 0;
    border-radius: 4px;
    margin-left: 5px;
}

.side-nav .status-bar {
    background-color: black;
    color: white;
    letter-spacing: 1px;
    margin: 0;
    border-radius: 4px;
}

.side-nav .status-bar span{
    padding-left: 20px;
}


/* email list */

.email-list{
    margin-inline-start: 20px;
}

.email-list .navbar-up{
    padding: 20px 10px;
}

.read-mail{
    background-color: rgba(214, 213, 213, 0.192);
}

.unread-mail{
    background-color: rgba(192, 189, 189, 0.979);
}

.email-preview{
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(214, 213, 213, 0.8);;
}

.email-preview > *:not(:last-child){
    margin-right: 20px;
}

.email-preview .option > *:not(:last-child){
    margin-right: 15px;    
}

img.icon{
    width: 17px;
    transition: .5s;
}

img.icon:hover{
    transform: scale(1.2);
}

/* email details */


.email-details .return{
    padding: 7px 40px;
    background-color: ;
    width: min-content;
    margin-bottom: 20px;
}

.email-details .return img{
    width: 30px;
    cursor: pointer;
}

.email-details .details .subject{

}

.email-details .details .data-frame{

}

.details{
    box-shadow: 0px 0px 1px 0px black;
}

.details > *{
    padding-left: 20px;
    padding: 20px 0 20px 20px;
}

.details span{
    font-weight: bold;
    font-size: 1.1rem;
}

.details > *:not(:last-child){
    border-bottom: 1px solid rgb(222, 220, 231);
}



/* new email */

.new-email{
    position: fixed;
    background-color: rgb(227, 224, 231);
    right: 20px;
    bottom: 50px;
    height: 70vh;
    width: 70vw;
    box-shadow: 2px 2px 7px 0.001px black;

}

.new-email .message-header, .new-email .message-footer{
    background-color: rgb(176, 181, 185);
    padding: 10px 20px;
    align-items: center;
}


.new-email .message-header > *:first-child{
   font-weight: bold;
    font-size: 20px;
}

.new-email .message-header .exit{
    cursor: pointer;
}

.new-email .message-body{
    padding-left: 10px;
    padding-right: 10px;
}

.new-email .message-body .subject input{
    width: 50%;
}

.new-email .message-body > *:not(:last-child){
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid  rgb(184, 184, 184);
}

.new-email .message-body > *:last-child{
    padding-top: 15px;
}


.new-email .message-footer .send{
    float: right;
    cursor: pointer;
    padding: 10px 50px;
    transition: 0.5s;
}

.new-email .message-footer img{
    width: 40px;
    background: 0;
}

.new-email .message-footer .send:hover{
    background: 0;
    transform: translateX(40px);
}

.new-email textarea{
    height: 100%;
    width: 100%;
    background-color: 0;
}

