* {
  box-sizing: border-box;

  /* border: 1px solid black; */
}

body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* page */
.page-container {
  min-height: 100vh;
}

/* nav bar */

.main-header {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 4rem;
}

.logo-image {
  height: 100%;
  margin-inline-start: -1rem;
}

.search-input {
  height: 3rem;
  width: 20%;
  margin-inline-end: 1rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  border: solid transparent;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  background-color: whitesmoke;
}

.search-input:active,
.search-input:focus {
  outline: none;
}

.main-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav-link {
  width: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: dimgray;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: black;
}

.main-nav-link:not(:last-child) {
  margin-inline-end: 1rem;
}

/* main */

main {
  width: 100%;
  flex-grow: 1;
  position: relative;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

/* footer */

footer {
  width: 100%;
  height: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  height: 6rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-logo {
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 4rem;
}

.footer-logo-image {
  height: 100%;
  margin-inline-start: -1rem;
}

.footer-link {
  font-weight: bold;
  text-decoration: underline;
}

/* user-message */

.user-msg {
  position: absolute;
  top: 0;
  left: calc(50% - 10rem);
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.close-msg-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
