.books-page-container,
.book-details-container,
.add-book-container,
.edit-book-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-block-end: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.books-filter-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.books-filter-input {
  height: 3rem;
  width: 10rem;
  padding: 1rem 0.5rem;
  margin-inline-end: 1rem;
  border: solid transparent;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.books-filter-input:active,
.books-filter-input:focus {
  outline: none;
}

.books-filter-button {
  width: 5rem;
  height: 3rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 0.5rem;
  font-weight: bold;
}

.book-list {
  width: 100%;
  margin-block-start: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.book-preview {
  min-width: calc((100vw - 7rem) / 5);
  max-width: calc((100vw - 7rem) / 5);
  /* height: auto; */
  height: 35rem;
  padding: 1rem;
  margin-block-end: 1rem;
  margin-inline-end: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  white-space: pre-wrap;
  transition: 0.3s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-around;
}

.book-preview:nth-child(5n+0) {
  margin-inline-end: 0;
}

.book-preview:hover {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.book-preview-image {
  width: 100%;
  height: 100%;
  background-color: white;
  object-fit: contain;
  border-radius: 0.5rem;
}

.edit-book-link {
  /* background-color: whitesmoke; */
}

.book-preview-details-link {
  width: 100%;
  height: auto;
  max-height: 80%;
  overflow: hidden;
}

.add-book-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.book-preview-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.book-preview-title {
  text-align: center;
  margin: 0.5rem;
}

.book-preview-price {
  text-align: center;
}

.book-preview-edit-link {
  width: 1rem;
  height: 1rem;
  background-size: contain;
  margin: 0.5rem;
  background-image: url(../../img/edit.png);
}

.book-details-inner,
.add-book-inner,
.edit-book-inner {
  height: 100%;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.add-book-inner {
  width: 100%;
}

.book-details-title {
  margin-block-end: 0.5rem;
}

.book-details-subtitle {
  margin-block-end: 0.5rem;
}

.book-details-image {
  width: auto;
  height: 20%;
  margin-block-end: 0.5rem;
  background-color: white;
  object-fit: contain;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.book-info {
  margin-block-end: 0.5rem;
  font-weight: bold;
}

.book-description {
  text-align: center;
}

.read-more-link,
.hide-link {
  margin-inline-start: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.edit-book-title,
.add-book-title {
  text-transform: uppercase;
  margin-block-end: 0.5rem;
  text-align: center;
}

.edit-book-row,
.edit-book-buttons-row {
  width: 100%;
  height: 2.5rem;
  margin-block-end: 0.5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  align-items: center;
}

.edit-book-buttons-row {
  justify-content: center;
}

.edit-book-row label {
  margin-inline-end: 1rem;
}

.edit-book-row input:not([type='checkbox']),
.books-search-input {
  height: 2.5rem;
  width: 10rem;
  padding: 1rem 0.5rem;
  border: solid transparent;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.books-search-input:active,
.books-search-input:focus,
.edit-book-row input:active,
.edit-book-row input:focus {
  outline: none;
}

.book-search-item {
  width: 100%;
  height: 2rem;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-block-end: 1rem;
}

.back-button,
.save-button,
.add-book-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-block-start: 0.5rem;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.back-button {
  background-image: url(../../img/back.png);
  margin-inline-end: 2rem;
}

.save-button {
  background-image: url(../../img/save.png);
}

.add-book-button {
  width: 2rem;
  height: 2rem;
  margin: 0;
  margin-inline-start: 1rem;
  padding: 0;
  background-image: url(../../img/add.png);
}
